/* Style the tab */
.tab {
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  overflow: hidden;
  border: 1px solid rgb(88, 88, 88);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #FFDC64;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FFDC64;
}

/* Style the tab content */
.tabcontent {
  display: none;
  margin-left: 25%;
  margin-right: 25%;
  padding: 6px 12px;
  border: 1px solid rgb(88, 88, 88);
  border-top: none;
}